@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');

*{
    box-sizing: border-box;

}

body{
    background-color: #fafafa;
    height: 100vh;
    font-family: 'Roboto', sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.magic {
    background-color: #f9ca24;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    padding: 12px 20px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 1px;
    box-shadow: 0 3px rgba(249, 202, 36, 0.5);
    z-index: 100;
}

.magic:focus {
    outline: none;
}

.magic:active {
    box-shadow: none;
    transform: translateY(2px);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 460px;
    width: 460px;
    position: relative;
}

.boxes.big {
    width: 525px;
    height: 525px;
    margin-top: 5px;

}

.boxes.big .box {
    transform: rotate(360deg);
}

.box {
    background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
    background-repeat: no-repeat;
    background-size: 460px 460px;
    position: relative;
    height: 115px;
    width: 115px;
    transition: 0.4s ease;
}

.box::after {
    content: '';
    background-color: #f6e58d;
    position: absolute;
    top: 5px;
    right: -10px;
    height: 100%;
    width: 10px;
    transform: skewY(45deg);
}

.box::before {
    content: '';
    background-color: #f9ca24;
    position: absolute;
    bottom: -10px;
    left: 5px;
    height: 10px;
    width: 100%;
    transform: skewX(45deg);
}