@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

*{
    box-sizing: border-box;

}

body{
    height: 100vh;
    font-family: 'Ubuntu', sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('https://images.unsplash.com/photo-1545569341-9eb8b30979d9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8amFwYW58ZW58MHx8MHx8fDA%3D') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(30px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}