@import url('https://fonts.googleapis.com/css2?family=Heebo:300&display=swap');

*{
    box-sizing: border-box;

}

:root{
    --primary-color: #000;
    --secondary-color: #fff;
}

html{
    transition: all 0.5s ease-in;
}

html.dark{
    --primary-color:#fff;
    --secondary-color:#333;
}

html.dark{
    background-color: #111;
    color: var(--primary-color); 
}

body{
    height: 100vh;
    font-family: 'Heebo', sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}
.toggle{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    border: 0;
    font-size: 15px;
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    font-weight: 600;
    top: 100px;
}

.toggle{
    outline: none;
}

.clock-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock{
    position: relative;
    width: 250px;
    height: 250px;
    background-color: rgb(173, 172, 172);
    border-radius: 50%;
}

.needle{
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom;
    transition: all 0.5s ease-in;
}

.needle.hour{
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute{
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;

}

.needle.second{
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
}

.center-point{
    height: 10px;
    width: 10px;
    background-color: #e74c3c;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-point::after{
    content: "";
    height: 5px;
    width: 5px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.time{
    font-size: 60px;
}

.date{
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.date .circle{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    text-align: center;
    transition: all 0.5s ease-in;
    font-size: 12px;
}