@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

*{
    box-sizing: border-box;

}
body{
    background-color: steelblue;
    height: 100vh;
    font-family: 'Roboto', sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}
button{
    background-color: purple;
    color: #fff ;
    border: 1px purple solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 25px;
    position: relative;
}

button:focus{
    outline: none;
}

button .circle{
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;  
}

@keyframes scale{
    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}